{
  "openapi": "3.0.0",
  "info": {
    "title": "erp trade query with detail",
    "description": "WDT Qimen API method=wdt.sales.tradequery.querywithdetail. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://3ldsmu02o9.api.taobao.com"
    }
  ],
  "tags": [
    {
      "name": "wdt-qimen"
    }
  ],
  "paths": {
    "/router/qm/wdt_sales_tradequery_querywithdetail": {
      "post": {
        "operationId": "wdt-qimen_erp_trade",
        "summary": "erp trade query with detail",
        "description": "WDT Qimen API method=wdt.sales.tradequery.querywithdetail. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
        "tags": [
          "wdt-qimen"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2.0"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "md5"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wdt.sales.tradequery.querywithdetail"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "string",
                    "description": "business params JSON string"
                  },
                  "pager": {
                    "type": "string",
                    "description": "pager JSON string"
                  },
                  "datetime": {
                    "type": "string"
                  },
                  "wdt_appkey": {
                    "type": "string"
                  },
                  "wdt_salt": {
                    "type": "string"
                  },
                  "wdt3_customer_id": {
                    "type": "string"
                  },
                  "wdt_sign": {
                    "type": "string"
                  }
                },
                "required": [
                  "params",
                  "pager",
                  "wdt_sign"
                ]
              }
            }
          }
        }
      }
    }
  }
}
