{
  "openapi": "3.0.0",
  "info": {
    "title": "sales trade query with detail",
    "description": "WDT OpenAPI method=sales.TradeQuery.queryWithDetail. Real upstream: http://wdt.wangdian.cn/openapi",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://wdt.wangdian.cn"
    }
  ],
  "tags": [
    {
      "name": "wdt-openapi"
    }
  ],
  "paths": {
    "/openapi/sales_tradequery_querywithdetail": {
      "post": {
        "operationId": "wdt-openapi_trade_query_with_detail",
        "summary": "sales trade query with detail",
        "description": "WDT OpenAPI method=sales.TradeQuery.queryWithDetail. Real upstream: http://wdt.wangdian.cn/openapi",
        "tags": [
          "wdt-openapi"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sales.TradeQuery.queryWithDetail"
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1.0"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
