{
  "openapi": "3.0.0",
  "info": {
    "title": "get stable token",
    "description": "wechat-store - get stable token (stable_token)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.weixin.qq.com"
    }
  ],
  "tags": [
    {
      "name": "wechat-store"
    }
  ],
  "paths": {
    "/cgi-bin/stable_token": {
      "post": {
        "operationId": "wechat-store_stable_token",
        "summary": "get stable token",
        "description": "wechat-store - get stable token (stable_token)",
        "tags": [
          "wechat-store"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "example": "client_credential"
                  },
                  "appid": {
                    "type": "string"
                  },
                  "secret": {
                    "type": "string"
                  }
                },
                "required": [
                  "grant_type",
                  "appid",
                  "secret"
                ]
              }
            }
          }
        }
      }
    }
  }
}
