{
  "openapi": "3.0.0",
  "info": {
    "title": "external user staff relation list",
    "description": "weiban - external user staff relation list (external_user_staff_relation_list)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://open.weibanzhushou.com"
    }
  ],
  "tags": [
    {
      "name": "weiban"
    }
  ],
  "paths": {
    "/open-api/external_user_staff_relation/list": {
      "get": {
        "operationId": "weiban_external_user",
        "summary": "external user staff relation list",
        "description": "weiban - external user staff relation list (external_user_staff_relation_list)",
        "tags": [
          "weiban"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "staff_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    }
  }
}
