{
  "openapi": "3.0.0",
  "info": {
    "title": "external user batch get",
    "description": "weiban - external user batch get (external_user_batch_get)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://open.weibanzhushou.com"
    }
  ],
  "tags": [
    {
      "name": "weiban"
    }
  ],
  "paths": {
    "/open-api/external_user/batch_get": {
      "post": {
        "operationId": "weiban_external_user_detail",
        "summary": "external user batch get",
        "description": "weiban - external user batch get (external_user_batch_get)",
        "tags": [
          "weiban"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "external_user_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
