{
  "swagger": "2.0",
  "info": {
    "title": "bk share datas query",
    "description": "HJY API method=wdt.hjy.bk.share.datas.query. Real upstream: http://332wh0cyoi.api.taobao.com/router/qm",
    "version": "1.0.0"
  },
  "host": "332wh0cyoi.api.taobao.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "tags": [
    {
      "name": "wdt-hjy"
    }
  ],
  "paths": {
    "/router/qm/wdt_hjy_bk_share_datas_query": {
      "post": {
        "operationId": "wdt-hjy_bk_share_data",
        "summary": "bk share datas query",
        "description": "HJY API method=wdt.hjy.bk.share.datas.query. Real upstream: http://332wh0cyoi.api.taobao.com/router/qm",
        "tags": [
          "wdt-hjy"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "appId": {
                  "type": "string"
                },
                "sid": {
                  "type": "string"
                },
                "hjySign": {
                  "type": "string"
                },
                "startDate": {
                  "type": "string"
                },
                "endDate": {
                  "type": "string"
                },
                "nextRequestId": {
                  "type": "string"
                }
              },
              "required": [
                "appId",
                "sid",
                "hjySign"
              ]
            }
          }
        ]
      }
    }
  }
}
