{
  "swagger": "2.0",
  "info": {
    "title": "aftersales refund search",
    "description": "WDT Qimen API method=wdt.aftersales.refund.refund.search. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
    "version": "1.0.0"
  },
  "host": "3ldsmu02o9.api.taobao.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "tags": [
    {
      "name": "wdt-qimen"
    }
  ],
  "paths": {
    "/router/qm/wdt_aftersales_refund_refund_search": {
      "post": {
        "operationId": "wdt-qimen_aftersales_refund",
        "summary": "aftersales refund search",
        "description": "WDT Qimen API method=wdt.aftersales.refund.refund.search. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
        "tags": [
          "wdt-qimen"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "params": {
                  "type": "string",
                  "description": "business params JSON string"
                },
                "pager": {
                  "type": "string",
                  "description": "pager JSON string"
                },
                "datetime": {
                  "type": "string"
                },
                "wdt_appkey": {
                  "type": "string"
                },
                "wdt_salt": {
                  "type": "string"
                },
                "wdt3_customer_id": {
                  "type": "string"
                },
                "wdt_sign": {
                  "type": "string"
                }
              },
              "required": [
                "params",
                "pager",
                "wdt_sign"
              ]
            }
          }
        ]
      }
    }
  }
}
