{
  "swagger": "2.0",
  "info": {
    "title": "external user batch get",
    "description": "weiban - external user batch get (external_user_batch_get)",
    "version": "1.0.0"
  },
  "host": "open.weibanzhushou.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "weiban"
    }
  ],
  "paths": {
    "/open-api/external_user/batch_get": {
      "post": {
        "operationId": "weiban_external_user_detail",
        "summary": "external user batch get",
        "description": "weiban - external user batch get (external_user_batch_get)",
        "tags": [
          "weiban"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "external_user_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      }
    }
  }
}
