{
  "openapi": "3.0.0",
  "info": {
    "title": "wdt-qimen",
    "description": "wdt-qimen APIs, count=9",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://3ldsmu02o9.api.taobao.com"
    }
  ],
  "tags": [
    {
      "name": "wdt-qimen"
    }
  ],
  "paths": {
    "/router/qm/wdt_sales_rawtrade_search": {
      "post": {
        "operationId": "wdt-qimen_trade",
        "summary": "rawtrade search",
        "description": "WDT Qimen API method=wdt.sales.rawtrade.search. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
        "tags": [
          "wdt-qimen"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2.0"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "md5"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wdt.sales.rawtrade.search"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "string",
                    "description": "business params JSON string"
                  },
                  "pager": {
                    "type": "string",
                    "description": "pager JSON string"
                  },
                  "datetime": {
                    "type": "string"
                  },
                  "wdt_appkey": {
                    "type": "string"
                  },
                  "wdt_salt": {
                    "type": "string"
                  },
                  "wdt3_customer_id": {
                    "type": "string"
                  },
                  "wdt_sign": {
                    "type": "string"
                  }
                },
                "required": [
                  "params",
                  "pager",
                  "wdt_sign"
                ]
              }
            }
          }
        }
      }
    },
    "/router/qm/wdt_sales_tradequery_querywithdetail": {
      "post": {
        "operationId": "wdt-qimen_erp_trade",
        "summary": "erp trade query with detail",
        "description": "WDT Qimen API method=wdt.sales.tradequery.querywithdetail. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
        "tags": [
          "wdt-qimen"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2.0"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "md5"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wdt.sales.tradequery.querywithdetail"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "string",
                    "description": "business params JSON string"
                  },
                  "pager": {
                    "type": "string",
                    "description": "pager JSON string"
                  },
                  "datetime": {
                    "type": "string"
                  },
                  "wdt_appkey": {
                    "type": "string"
                  },
                  "wdt_salt": {
                    "type": "string"
                  },
                  "wdt3_customer_id": {
                    "type": "string"
                  },
                  "wdt_sign": {
                    "type": "string"
                  }
                },
                "required": [
                  "params",
                  "pager",
                  "wdt_sign"
                ]
              }
            }
          }
        }
      }
    },
    "/router/qm/wdt_sales_tradequery_queryhistorywithdetail": {
      "post": {
        "operationId": "wdt-qimen_history_trade",
        "summary": "history trade query with detail",
        "description": "WDT Qimen API method=wdt.sales.tradequery.queryhistorywithdetail. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
        "tags": [
          "wdt-qimen"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2.0"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "md5"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wdt.sales.tradequery.queryhistorywithdetail"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "string",
                    "description": "business params JSON string"
                  },
                  "pager": {
                    "type": "string",
                    "description": "pager JSON string"
                  },
                  "datetime": {
                    "type": "string"
                  },
                  "wdt_appkey": {
                    "type": "string"
                  },
                  "wdt_salt": {
                    "type": "string"
                  },
                  "wdt3_customer_id": {
                    "type": "string"
                  },
                  "wdt_sign": {
                    "type": "string"
                  }
                },
                "required": [
                  "params",
                  "pager",
                  "wdt_sign"
                ]
              }
            }
          }
        }
      }
    },
    "/router/qm/wdt_aftersales_refund_rawrefund_search": {
      "post": {
        "operationId": "wdt-qimen_refund",
        "summary": "raw refund search",
        "description": "WDT Qimen API method=wdt.aftersales.refund.rawrefund.search. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
        "tags": [
          "wdt-qimen"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2.0"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "md5"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wdt.aftersales.refund.rawrefund.search"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "string",
                    "description": "business params JSON string"
                  },
                  "pager": {
                    "type": "string",
                    "description": "pager JSON string"
                  },
                  "datetime": {
                    "type": "string"
                  },
                  "wdt_appkey": {
                    "type": "string"
                  },
                  "wdt_salt": {
                    "type": "string"
                  },
                  "wdt3_customer_id": {
                    "type": "string"
                  },
                  "wdt_sign": {
                    "type": "string"
                  }
                },
                "required": [
                  "params",
                  "pager",
                  "wdt_sign"
                ]
              }
            }
          }
        }
      }
    },
    "/router/qm/wdt_aftersales_refund_refund_search": {
      "post": {
        "operationId": "wdt-qimen_aftersales_refund",
        "summary": "aftersales refund search",
        "description": "WDT Qimen API method=wdt.aftersales.refund.refund.search. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
        "tags": [
          "wdt-qimen"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2.0"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "md5"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wdt.aftersales.refund.refund.search"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "string",
                    "description": "business params JSON string"
                  },
                  "pager": {
                    "type": "string",
                    "description": "pager JSON string"
                  },
                  "datetime": {
                    "type": "string"
                  },
                  "wdt_appkey": {
                    "type": "string"
                  },
                  "wdt_salt": {
                    "type": "string"
                  },
                  "wdt3_customer_id": {
                    "type": "string"
                  },
                  "wdt_sign": {
                    "type": "string"
                  }
                },
                "required": [
                  "params",
                  "pager",
                  "wdt_sign"
                ]
              }
            }
          }
        }
      }
    },
    "/router/qm/wdt_wms_stockout_sales_querywithdetail": {
      "post": {
        "operationId": "wdt-qimen_stockout_sales_query_with_detail",
        "summary": "stockout sales query with detail",
        "description": "WDT Qimen API method=wdt.wms.stockout.sales.querywithdetail. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
        "tags": [
          "wdt-qimen"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2.0"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "md5"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wdt.wms.stockout.sales.querywithdetail"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "string",
                    "description": "business params JSON string"
                  },
                  "pager": {
                    "type": "string",
                    "description": "pager JSON string"
                  },
                  "datetime": {
                    "type": "string"
                  },
                  "wdt_appkey": {
                    "type": "string"
                  },
                  "wdt_salt": {
                    "type": "string"
                  },
                  "wdt3_customer_id": {
                    "type": "string"
                  },
                  "wdt_sign": {
                    "type": "string"
                  }
                },
                "required": [
                  "params",
                  "pager",
                  "wdt_sign"
                ]
              }
            }
          }
        }
      }
    },
    "/router/qm/wdt_wms_stockout_other_querywithdetail": {
      "post": {
        "operationId": "wdt-qimen_stockout_other_query_with_detail",
        "summary": "stockout other query with detail",
        "description": "WDT Qimen API method=wdt.wms.stockout.other.querywithdetail. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
        "tags": [
          "wdt-qimen"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2.0"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "md5"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wdt.wms.stockout.other.querywithdetail"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "string",
                    "description": "business params JSON string"
                  },
                  "pager": {
                    "type": "string",
                    "description": "pager JSON string"
                  },
                  "datetime": {
                    "type": "string"
                  },
                  "wdt_appkey": {
                    "type": "string"
                  },
                  "wdt_salt": {
                    "type": "string"
                  },
                  "wdt3_customer_id": {
                    "type": "string"
                  },
                  "wdt_sign": {
                    "type": "string"
                  }
                },
                "required": [
                  "params",
                  "pager",
                  "wdt_sign"
                ]
              }
            }
          }
        }
      }
    },
    "/router/qm/wdt_wms_stockin_refund_querywithdetail": {
      "post": {
        "operationId": "wdt-qimen_stockin_refund_query_with_detail",
        "summary": "stockin refund query with detail",
        "description": "WDT Qimen API method=wdt.wms.stockin.refund.querywithdetail. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
        "tags": [
          "wdt-qimen"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2.0"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "md5"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wdt.wms.stockin.refund.querywithdetail"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "string",
                    "description": "business params JSON string"
                  },
                  "pager": {
                    "type": "string",
                    "description": "pager JSON string"
                  },
                  "datetime": {
                    "type": "string"
                  },
                  "wdt_appkey": {
                    "type": "string"
                  },
                  "wdt_salt": {
                    "type": "string"
                  },
                  "wdt3_customer_id": {
                    "type": "string"
                  },
                  "wdt_sign": {
                    "type": "string"
                  }
                },
                "required": [
                  "params",
                  "pager",
                  "wdt_sign"
                ]
              }
            }
          }
        }
      }
    },
    "/router/qm/wdt_wms_stockspec_search": {
      "post": {
        "operationId": "wdt-qimen_stockspec",
        "summary": "stockspec search",
        "description": "WDT Qimen API method=wdt.wms.stockspec.search. Real upstream: http://3ldsmu02o9.api.taobao.com/router/qm",
        "tags": [
          "wdt-qimen"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2.0"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "sign_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "md5"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wdt.wms.stockspec.search"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "string",
                    "description": "business params JSON string"
                  },
                  "pager": {
                    "type": "string",
                    "description": "pager JSON string"
                  },
                  "datetime": {
                    "type": "string"
                  },
                  "wdt_appkey": {
                    "type": "string"
                  },
                  "wdt_salt": {
                    "type": "string"
                  },
                  "wdt3_customer_id": {
                    "type": "string"
                  },
                  "wdt_sign": {
                    "type": "string"
                  }
                },
                "required": [
                  "params",
                  "pager",
                  "wdt_sign"
                ]
              }
            }
          }
        }
      }
    }
  }
}
